<%- include('../parts/html-head') %>
<%- include('../parts/navbar') %>

<style>
    table a>.fa-trash-alt {
        color: red;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    <li class="page-item <%= page <=1 ? 'disabled':'' %>">
                        <a class="page-link" href="/address/list/<%= page-10 %>"><i class="fas fa-bus"></i></a>
                    </li>
                    <li class="page-item <%= page <=1 ? 'disabled':'' %>">
                        <a class="page-link" href="/address/list/<%= page-1 %>"><i class="fas fa-ghost"></i></a>
                    </li>
                    <% for(let i = 1;i<= tot_page;i++){ %>
                    <li class="page-item <%= page ==i ? 'active':'' %>">
                        <a class="page-link" href="/address/list/<%= i %>"><%= i %></a>
                    </li>
                    <% } %>
                    <li class="page-item <%= page >=tot_page ? 'disabled':'' %>">
                        <a class="page-link" href="/address/list/<%= page+1 %>"><i class="fas fa-ghost"></i></a>
                    </li>
                    <li class="page-item <%= page >=tot_page ? 'disabled':'' %>">
                        <a class="page-link" href="/address/list/<%= page+10 %>"><i class="fas fa-bus"></i></a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
    <button id="upload-file-btn"  type="button"><a href="http://localhost:3000/runSelenium">爬蟲</a></button>

    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>

                        
                        <th scope="col">name</th>
                        <th scope="col">content</th>
                        <th scope="col">time</th>
                        <th scope="col">link</th>

                    </tr>
                </thead>
                <tbody>
                    <% for(let i of rows){ %>
                    <tr data-sid="<%= i.sid %>">

                        
                        <td><%= i.name %></td>
                        <td><%= i.content %></td>
                        <td><%= i.time %></td>
                        <td><a href="<%= i.link %>">連過去</a></td>

                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>



<%- include('../parts/scripts') %>

<script>
    const deLink = $('.del-link');
    deLink.click(function (event) {
        const tr = $(event.target.closest('tr'));
        const sid = tr.attr('data-sid');

        if (!confirm(`你真的要這麼衝動刪掉${sid}`)) {
            event.preventDefault; //取消預設動作
        }
    });

    
</script>


<%- include('../parts/html-foot') %>